
body { background-color: #FFFFFF; 
       color: #666666;
       font-family: Arial, Verdana, sans-serif; }
header { background-color: #002171; 
       color: #FFFFFF;
       font-family: Arial, Verdana, sans-serif; }       
 h1 { background-color: #002171; 
     color: #FFFFFF; 
	 line-height: 200%;
	 font-family: Georgia, "Times New Roman", serif;
	 text-indent: 1em;
	 text-shadow: 3px 3px 5px #000000; }
h2 { color: #1976D2; 
	 font-family: Georgia, "Times New Roman", serif}
nav { font-weight: bold;
      font-size: 1.25em;
	  word-spacing: 1em;
         background-color: #BBDEFB; }
p { font-size: .90em;
	text-indent: 3em; }
ul { font-weight: bold; } 
.feature { color: #C70000; }
dl.resort {color: #002171;
       font-size: 1.2em;}
dl.resort dd {
  color: #000000;
}      
footer { color: #333333;
       text-align: center;
         font-size: .75em;
         font-style: italic; }
.company { font-weight: bold;
           font-family: Georgia, "Times New Roman", serif;
            font-size: 1.25em; }
#wrapper { margin-left: auto;
           margin-right: auto;
           width: 80%; }