* {
       box-sizing: border-box;
}

body { background-color: #90C7E3; 
       color: #666666;
       font-family: Arial, Verdana, sans-serif;
       margin: 0;
}
       
header { background-color: #002171; 
       color: #FFFFFF;
       padding: 1em;
       font-family: Arial, Verdana, sans-serif; 
}       
 h1 {  color: #FFFFFF; 
       font-size: 1.5em;
       text-align: center;
 }

h2 { color: #1976D2; 
	 font-family: Georgia, "Times New Roman", serif}
nav {  
       font-weight: bold;
       font-size: 1.2em;
	word-spacing: 1em;
       text-align: center;
       background-color: white;
}
p { font-size: .90em;
	text-indent: 3em; }
ul { font-weight: bold; } 
.feature { color: #C70000; }
.resort {color: #002171;
       font-size: 1.2em;}
dl.resort dd {
  color: #000000;
}
dl.resort dt{color: #002171}     
footer { color: #333333;
       text-align: center;
       font-size: .75em;
       font-style: italic;
       padding: 1em; }
.company { font-weight: bold;
           font-family: Georgia, "Times New Roman", serif;
            font-size: 1.25em; }
#wrapper { margin-left: auto;
           margin-right: auto;
           min-width: 960px;
           max-width: 2048px;
}
#homehero {
       height:300px;
       background-image: url("coast.jpg");
       background-size: 200% 100%;
       background-repeat: no-repeat;
       
}

#trailhero {
       height:300px;
       background-image: url("trail.jpg");
       background-size: 200% 100%;
       background-repeat: no-repeat;
      
}
#yurthero {
       height:300px;
       background-image: url("yurt.jpg");
       background-size: 200% 100%;
       background-repeat: no-repeat;
       
}
h3 {
       font-family: Georgia, serif;
       color: #002171;
}

main {
       padding-left: 2em;
       padding-right: 2em;
       display: block;
}
nav a {
       text-decoration: none;
}

nav a:link {
       color: #5C7FA3;       
}
nav a:visited {
       color: #344873;
}
nav a:hover {
       color: #A52A2A;
}
footer {
       background-color: #FFFFFF;
       margin-left: 170px;
}
nav ul {
       list-style-type: none;
       padding-left: 0;
       flex-direction: column;
       margin: 0;
       text-decoration: none;

}
main {
       padding-top: 0;
       padding-bottom: 0;
       padding-left: .5em;
       padding-right: .5em;
       display: block;
       
}
header a:link,
header a:visited {
       text-decoration: none;
       color: #FFFFFF;
}
header a:hover {
       color: #90C7E3;
}
section {
       padding-left: .5em;
       padding-right: .5em;  
}
nav li {
       padding-bottom: .5em;
       padding-top: .5em;
       padding-left: .1em;
       padding-right: .1em;
       width: 100%;
       border-bottom: solid, 1px;
}
#mobile {
       display: inline;

}
#desktop {
       display: none;
}