#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    color: #40407a;
}
body {
    background-color: #F5F5F5;
    color:#40407a;
    font-family: Veranda, Arial, sans-serif;
}

header {
    background-color: #80CBC4;
    text-align: center;
}
h1 {
line-height: 200%;
text-align: center;
}

h2 {
    color: #40407a;
    font-weight: bold;
}

nav {
    font-weight: bold;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: #40407a
}
dt {
    font-weight: bold;
}
.studio {
    font-style: italic;

}
footer {
    margin-right: auto;
    margin-left: auto; 
    background-color: #80cbc4;
    text-align: center; 
}